body {
  margin: 20px;
  /*font-family: 'Poppins';*/
  color: #333;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
.product {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.offers, .products {
  display: flex;
  gap: 20px;
}
.cursor-pointer {
  cursor: pointer;
}